# API Key per Google Gemini
GEMINI_API_KEY=your_gemini_api_key_here

# Configurazioni Audio (Default)
AUDIO_SAMPLE_RATE=16000
AUDIO_CHANNELS=1

# Percorso Modello Vosk (Locale o in Docker)
VOSK_MODEL_PATH=model/vosk-model-small-it-0.22
